body {
  background-color: rgb(37, 36, 36);
  font-size: 1.2rem;
  font-family: sans-serif;
}

form {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: "4rem";
}

input {
  width: 200px;
  padding: 15px 20px;
  outline: none;
  margin-right: 15px;
  border: none;
  border-radius: 2px;
}

button {
  padding: 15px 20px;
  background-color: rgb(208, 218, 221);
  border-radius: 2px;
  border: none;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-self: left;
  color: white;
  margin-top: 20px;
}

.activity {
  margin-top: 5rem;
  color: white;
}
